




/*
     FILE ARCHIVED ON 3:42:43 Aug 19, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 2:00:50 Jan 15, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.taxonomy-images-the-terms{margin:10px 0;padding:0;zoom:1;}.taxonomy-images-the-terms:before,
.taxonomy-images-the-terms:after{content:"\0020";display:block;height:0;visibility:hidden;clear:both;}.taxonomy-images-the-terms li,
.taxonomy-images-the-terms a,
.taxonomy-images-the-terms img{float:left;margin:0;padding:0;}.taxonomy-images-the-terms li{list-style-type:none;margin:0 10px 10px 0;}